/* Home page */

.title-text {
    text-align: center;
    padding: 20px 0px;
}

.title-text,
.list {
    background-color: white;
    border: 3px solid black;
}

.title-text,
.list-items,
.text {
    font-family: Arial, Helvetica, sans-serif
}

.list {
    text-align: center;
    margin: 0px;
    padding: 25px 0px;
    list-style-position: inside;
}

.list-items {
    text-align: left;
    padding-left: 3.5vh;
}

.home-body {
    background-color: rgb(255 187 196);
    padding-top: 4vh;
}

.home-images {
    height: 200px;
    width: auto;
    margin: auto;
    display: block;
    border: 3px solid black;
    margin-top: 4vh;
}

.home-card {
    width: 200px;
    text-align: center;
    margin: auto;
}

/* Recipe pages */

.blueberry-background {
    background-color: rgb(231, 226, 255);
}
.pumpkin-background {
    background-color: rgb(255, 207, 158);
}
.oats-background {
    background-color: rgb(241, 223, 190);
}

.recipe-card {
    width: 50vh;
    text-align: center;
    margin: auto;
    margin-bottom: 5vh;
}

.recipe-container {
    text-align: center;
    margin: auto;
    width: 20vh;
    padding: 25px 0px;
}

.recipe-list {
    text-align: left;
    list-style-position: inside;
}

.recipe-items {
    text-align: left;
}

.recipe-title {
    padding-top: 3vh;
}

.recipe-text {
    text-align: left;
    padding-left: 6vh;
}

.recipe-header, 
.recipe-title
{
    text-align: center;
}

.recipe-images {
    height: 400px;
    width: auto;
    display: block;
    margin: auto;
}